
{% for block in section.blocks %}
  {% assign logo = block.settings.logo %}
  <div>
    <div>
      <img src="{{ logo | img_url: '240x240' }}" alt="">
      <h3>
        c&c
        <span>.</span>
      </h3>
    </div>
    <div>
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% schema %}
  {
    "blocks": [
      {
        "type":"menu",
        "name":"Menu",
        "settings": [
            {
                "id":"logo",
                "type":"image_picker",
                "label":"Logo Image"
            }
        ]
      }
    ]
  }
{% endschema %}