{% for block in section.blocks %}
    {% assign background_image = block.settings.background_image %}
    {% assign name = block.settings.name %}
    {% assign review = block.settings.review %}
    {% assign star_rating = block.settings.star_rating %}
    {% assign reviewer_picture = block.settings.reviewer_picture %}
    {% assign star_grey = images['star-grey_1.png'] %}
    {% assign star_white = images['star-white.png'] %}

    <div id="carouselExampleControls" class="carousel slide testimonial-wrapper col-12 p-2 d-flex align-items-center justify-content-center" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="testimonial-content">
                    <img src="{{ reviewer_picture | img_url:'master' }}" alt="">
                    <div class="testimonial-copy">
                        <h4>{{ name }}</h4>
                        {% include 'testimonials' %}
                        <p>{{ review }}</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endfor %}


{% schema %}
    {
        "blocks": [
            {
                "type":"testimonial",
                "name":"testimonial",
                "settings": [
                    {
                        "type":"text",
                        "label":"Title",
                        "id":"title",
                        "default":"Testimonials"
                    },
                    {
                        "type":"image_picker",
                        "label":"Background Image",
                        "id":"background_image"
                    },
                    {
                        "type":"text",
                        "label":"Name",
                        "id":"name"
                    },
                    {
                        "type":"image_picker",
                        "label":"Reviewer's Picture",
                        "id":"reviewer_picture"
                    },
                    {
                        "type":"select",
                        "label":"Star Rating",
                        "id":"star_rating",
                        "options": [
                            {
                                "label":"1",
                                "value":"1"
                            },
                            {
                                "label":"2",
                                "value":"2"
                            },
                            {
                                "label":"3",
                                "value":"3"
                            },
                            {
                                "label":"4",
                                "value":"4"
                            },
                            {
                                "label":"5",
                                "value":"5"
                            }
                        ]
                    },
                    {
                        "type":"textarea",
                        "label":"Review",
                        "id":"review"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name":"Testimonials",
                "category":"Products"
            }
        ]
    }
{% endschema %}