@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import 'setup';
@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Lobster+Two|Merriweather|Raleway:400,600&display=swap';

// @import 'header';

$white:#fff;
$black:#000;
$gray:#808080;
$pink:#ffc4c6;
$raleway: 'Raleway', sans-serif;
$merriweather: 'Merriweather', serif;
$lobster: 'Lobster Two', cursive;

// mixins

@mixin h1 {
    color: $black;
    font-size:65px;
    text-transform: capitalize;
    font-family: $merriweather;
    text-align: center;
    margin:0;
    line-height: 70px;
    @media screen and (max-width: 480px) {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
    }
}

@mixin h2 {
    color: $gray;
    font-size:25px;
    text-transform: uppercase;
    font-family: $raleway;
    font-weight: 100;
    text-align: center;
    margin:0;
    line-height: 30px;
    @media screen and (max-width: 480px) {
        display:none;
    }
}

@mixin h3 {
    color: $black;
    font-size:20px;
    font-family: $raleway;
    margin:0;
    line-height: 30px;
}

@mixin p {
    font-size:16px;
    color:$black;
    line-height: 25px;
    margin:0;
    font-family: $raleway;
}

@mixin button {
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: $pink;
    max-width: 150px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: $white;
    font-weight: 500;
    font-family: $raleway;
    transition:all 0.4s;
    border:none;
    &:hover {
        max-width:160px;
        padding:15px;
        text-decoration: none;
        font-size: 18px;
        border:2px solid white;

    }
}

body {
    font-size:16px;
    margin:0 auto;
    h1 {
        @include h1;
    }
    h2 {
        @include h2;
    }
    h3 {
        @include h3;
    }
}

// bar
.bar {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    p {
        @include p;
        font-family: $merriweather;
        text-transform: uppercase;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    .menu-left {
        h3 {
            @include h3;
            font-size: 30px;
            font-family: $lobster;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            span {
                width: 7px;
                height: 7px;
                border-radius: 100%;
                margin: 0 0px 5px 4px;   
                font-size: 30px;
            }
        }
    }
    .menu-center {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items: flex-end;
        a {
            @include button; 
            margin: 0 10px;
            color: $black;
            background-color:transparent;
            padding:0;
            &.active, &:hover {
                background-color: $pink;
                color: $white;
                padding:5px;
            }
        }
    }
    .menu-right {
        display: flex;
        justify-content: center;
        .icon {
            font-size: 25px;
            transition:0.5s;
            &:hover {
                font-size: 28px;
            }
        }
        .cart-count {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 5px;
            font-size: 14px;
        }
    }
}

// header
.header {
    background-repeat: no-repeat;
    background-size: cover;
    min-height:85vh;
    background-position: 90% 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    .header-content {
        position: absolute;
        left: 20%;
        transform: translate(-20%);
        top: 30%;
        h1 {
            margin-bottom: 20px;
        }
        h2 {
            margin-bottom: 25px;
        }
        a {
            @include button;
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        // background-position: 60% 100%;
        min-height: 90vh;
        background-attachment: fixed;
        .header-content {
            bottom: 0;
            top: unset;
            text-align: center;
            width: 100%;
            padding: 20px;
            background-color: $white;
            border-top: 1px solid $black;
            a {
                display:none;
            }
            h1 {
                margin:5px;
                br {
                    display: none;
                }
            }
        }
    }
}

//dual content

.dual-content-wrapper {
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin:0 auto 120px auto;
    .dual-content-images {
        display: flex;
        flex-direction: row;
        padding: 0;
        .dual-content-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            max-width: 245px;
            min-height: 370px;
            padding: 0;
            width: 100%;
            &:last-child {
                top: 50px;
                right: 40px;
                max-width: 255px;
                position: relative;
            }
        }
    }
}