@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import 'setup';
@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Lobster+Two|Merriweather|Raleway:400,600&display=swap';

// @import 'header';

// colours
$white:#fff;
$black:#000;
$gray:#808080;
$pink:#ffc4c6;
$ghostwhite:#f8f8ff;

// fonts
$raleway: 'Raleway', sans-serif;
$merriweather: 'Merriweather', serif;
$lobster: 'Lobster Two', cursive;

// sizing
$sectionmargin: 90px auto;

// mixins

@mixin h1 {
    color: $black;
    font-size:65px;
    text-transform: capitalize;
    font-family: $merriweather;
    text-align: center;
    margin:0;
    line-height: 70px;
    @media screen and (max-width: 480px) {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
    }
}

@mixin h2 {
    color: $gray;
    font-size:25px;
    text-transform: uppercase;
    font-family: $raleway;
    font-weight: 100;
    text-align: center;
    margin:0;
    line-height: 30px;
    @media screen and (max-width: 480px) {
        display:none;
    }
}

@mixin h3 {
    color: $black;
    font-size:30px;
    font-family: $merriweather;
    margin:0 0 15px 0;
    line-height: 30px;
    position:relative;
    letter-spacing: 0.5px;
    display:inline-block;
    &:after {
        @include underline;
    }
}

@mixin h4 {
    color: $black;
    font-size: 21px;
    line-height: 25px;
    margin: 0;
    font-family: $merriweather;
}

@mixin h5 {
    color: $black;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    font-family: $raleway;
    position: relative;
    display: inline-block;
    &:after {
        @include underline;
        bottom: -5px;
        width: 50%;
        left:0;
        transform:translate(0);
        height: 2px;

    }
}

@mixin logo {
    @include h3;
    font-family: $lobster;
    display: unset;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
    span {
        width: 7px;
        height: 7px;
        border-radius: 100%;
        margin: 0 0px 5px 4px;   
        font-size: 30px;
        background-color: $pink;
    }
    &:after {
        content:unset;
    }
}

@mixin p {
    font-size:16px;
    font-weight: 100;
    color:$gray;
    line-height: 25px;
    margin:15px 0;
    font-family: $raleway;
}

@mixin button {
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: $pink;
    max-width: 150px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: $white;
    font-weight: 500;
    font-family: $raleway;
    transition:all 0.4s;
    border:none;
    &:hover {
        max-width:160px;
        text-decoration: none;
        font-size: 18px;
        border:2px solid white;
        color: $white;

    }
}

@mixin underline {
    content:"";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: $pink;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

body {
    font-size:16px;
    margin:0 auto;
    h1 {
        @include h1;
    }
    h2 {
        @include h2;
    }
    h3 {
        @include h3;
    }
    h3.logo {
        @include logo;
    }
    h4 {
        @include h4;
    }
    h5 {
        @include h5;
    }
    p {
        @include p;
    }
    a {
        @include button;
    }
}

.section {
    margin: $sectionmargin;
    max-width:1100px;
}

// bar
.bar {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    p {
        @include p;
        font-family: $merriweather;
        text-transform: uppercase;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    .menu-left {
        h3.logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            margin:0;
            &:after {
                content: unset;
            }
            span {
                width: 7px;
                height: 7px;
                border-radius: 100%;
                margin: 0 0px 5px 4px;   
                font-size: 30px;
            }
        }
    }
    .menu-center {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items: flex-end;
        a {
            @include button; 
            margin: 0 10px;
            color: $black;
            background-color:transparent;
            padding:0;
            &.active, &:hover {
                background-color: $pink;
                color: $white;
                padding:5px;
            }
        }
    }
    .menu-right {
        display: flex;
        justify-content: center;
        .icon {
            font-size: 25px;
            transition:0.5s;
            &:hover {
                font-size: 28px;
            }
        }
        .cart-count {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 5px;
            font-size: 14px;
        }
    }
}

// header
.header {
    background-repeat: no-repeat;
    background-size: cover;
    min-height:85vh;
    background-position: 90% 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    .header-content {
        position: absolute;
        left: 20%;
        transform: translate(-20%);
        top: 30%;
        h1 {
            margin-bottom: 20px;
        }
        h2 {
            margin-bottom: 25px;
        }
        a {
            @include button;
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        min-height: 90vh;
        background-attachment: fixed;
        .header-content {
            bottom: 0;
            top: unset;
            text-align: center;
            width: 100%;
            padding: 20px;
            background-color: $white;
            border-top: 1px solid $black;
            a {
                display:none;
            }
            h1 {
                margin:5px;
                br {
                    display: none;
                }
            }
        }
    }
}

//dual content

.dual-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    margin-bottom: 120px;
    align-items: flex-start;
    .dual-content-text {
        h4 {
           color: $gray;
           margin: 15px 0;
        }
        h5 {
            font-weight: 500;
        }
    }
    .dual-content-images {
        display: flex;
        flex-direction: row;
        padding: 0;
        position:relative;
        justify-content: center;
        align-content: center;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 370px;
            z-index: 0;
            left: 50%;
            transform: translate(-50%);
            width: 280px;
            height: 420px;
        }
        .dual-content-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            max-width: 245px;
            height: 370px;
            padding: 0;
            width: 100%;
            z-index: 1;
            &:last-child {
                top: 50px;
                max-width: 255px;
                position: relative;
            }
        }
    }
}

.deal-day-wrapper {
    background-position:top;
    background-size:cover;
    background-repeat:no-repeat;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        font-size: 40px;
    }
    .deal-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 20px auto;
        p {
            padding: 0;
            margin: 0;
            font-size: 30px;
            text-align: center;
            color: $black;
            font-family: $lobster;
        }
        .icon-wrapper {
            background-size: contain;
            width: 130px;
            height: 70px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.collection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        text-align: center;
    }
    .collection-list {
        display:flex;
        justify-content:center;
        flex-wrap: nowrap;
        width: 100%;
        .collection-item {
            list-style-type: none;
            width: 25%;
            a.product-card {
                background-color: unset; 
                max-width: 200px; 
                padding: 0; 
                text-transform: lowercase; 
                flex-direction: column;
                justify-content: center;
                align-items: center;
                display: flex;
                margin: 0 auto;
                box-sizing:content-box;
                .product-image {
                    height: 50%;
                    img {
                        height: 200px;
                        width: 200px;
                        object-fit: cover;
                    }
                }
                .product-info {
                    width: 100%;
                    height: 50%;
                    text-align: center;
                    margin:0;
                    padding:10px;
                    .product-tag {
                        font-size: 16px;
                        margin: 0;
                        font-weight: 400;
                    }
                    .product-title {
                        font-size: 18px;
                        color: $black;
                        font-weight: 500;
                        margin: 5px 0;
                    }
                    .product-price {
                        font-size: 16px;
                        font-weight: 600;
                        color: $pink;
                    }
                }
            }
        }
    }
}

.testimonial-wrapper {
    background-size: cover;
    object-fit: cover;
    background-position: bottom;
    background-repeat:no-repeat;
    margin:0 auto;
    min-height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    img {
        width: 150px;
        border-radius: 100%;
        height: 150px;
        object-fit: cover;
        margin: 0 auto -20px auto;
        z-index: 1;
    }
    a {
        margin: 0;
        padding: 0;
    }
    .testimonial-content {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        background-color:$white;
        padding: 25px;
        width: 90%;
        .testimonial-copy {
            display: flex;
            align-items:center;
            justify-content: center;
            flex-direction:column;
            text-align: center;
            .star-wrapper {
                display: flex;
                flex-direction:row;
                justify-content: center;
                align-items: center;
                margin:10px auto 20px auto;
                .star {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.promo-wrapper {
    background-size: cover;
    object-fit: cover;
    background-repeat:no-repeat;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .promo-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width:80%;
        h3, h4 {
            text-transform: uppercase;
            letter-spacing: unset;
            text-align: left;
        }
        h3 {
            margin:30px 0 45px 0px;
            font-size: 65px;
            &:after {
                content: unset;
            }
        }
        h4 {
            position: relative;
            font-size: 45px;
            &:after {
                content: "";
                width: 190px;
                height: 21px;
                background-color: $pink;
                opacity: 0.8;
                position: absolute;
                right: -30px;
                bottom: -2px;
            }
        }
        p {
            margin: 0;
            border: 1px solid $black;
            padding: 10px;
            box-sizing: content-box;
            color: $black;
            font-weight: 400;
        }
    }
}

.footer-wrapper {
    margin: 0 auto;
    padding:30px 30px 0 30px;
    background: $ghostwhite;
    display: flex;
    justify-content: center;
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 0 50px;
    }
    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        padding: 0;
        margin:0 90px;
        h4 {
            margin: 5px 0;
        }
        a {
                margin:5px 0;
                font-size: 14px;
                color:$gray;
                background-color: unset;
                text-transform: capitalize;
                padding: 0;
                border: unset;
        }
        &:nth-child(3) {
            p {
                margin:5px 0;
                font-size: 14px;
                color:$gray;
                background-color: unset;
                text-transform: capitalize;
                padding: 0;
                border: unset;
                font-weight: 500;
                font-family:$raleway;
            }
            form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                input[type="text"] {
                    margin: 0;
                    border-bottom: 1px solid $gray;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-radius: 0px;
                    width: 150px;
                }
                input[type="submit"] {
                    background-color: unset;
                    color: $gray;
                    font-size: 15px;
                    font-weight: 100;
                    padding: 5px;
                }
            }
            .icon-wrapper {   
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .icon {
                    &:not(:first-of-type) {
                        margin: 0 10px;
                    }
                    &:first-of-type {
                        margin-right: 10px;
                    }
                    &:before {
                        font-size: 14px;
                        transition:0.5s;
                        color: $pink;
                    }
                    &:hover:before {
                        font-size: 18px;
                        color: $black;
                    }
                }
            }
        }
    }
}